.chords-container { 
    grid-area: 3 / 3 / 3 / 6;
    height: 400px;
}

.chords_item { 
    /* grid-area: 2 / 4 / 3 / 6;
      */
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    
}

.chord-item {
    width: 150px;
    border-radius: 5%;
    margin: 5px;
}
.chords-component{
    display: flex;
}