/* AuthorPage.css */

.author-page {
    margin-top: 100px;
    padding: 20px;
    /* background-color: red; */
    /* display: flex; */
    height: 100%;
    display: grid;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    grid-template-areas:
    'header header header header header header'
    'header header header header header header'
    'bio bio bio bio bio bio'
    'song song song song song song'
}
.songs{
    grid-area: song;
}

.author-header {
    display: block;
    border-bottom: 1px solid black; /* Add a border between header and content */
    height: 300px;
    grid-area: header;
}

.author-image {
    flex: 1;
    padding: 10px;
    height: 150px;
    grid-area: image;
}

.author-details {
    flex: 2;
    padding: 10px;
    height: 200px;

}

.author-name {
    font-size: 24px;
    font-weight: bold;
    background-color: blue;
}

.birthdate {
    /* Add styling for birthdate */
}

.biography {
    margin-top: 20px;
    grid-area: bio;
}

.song-list {
    margin-top: 20px;
}

.song-item {
    margin-bottom: 10px;
}

.image{
    height: 100%;
}