.home-page-container{
    display: grid;
    /* grid-template-columns: 30%, 70%; */
    height: auto;
    margin-top: 50px;
}

.home-page-container-left{
    grid-column: 1;
}

.home-page-container-right{
    grid-column: 2 / span 5;
}

.home-page-instruments{
    grid-row: 1;
}
.home-page-content{
    grid-row: 2;
}

.content{
    /* display: flex */
}

.footer{
    grid-row: 5;
    text-align: center;
}

