.profile-page-container{
    display: grid;
    /* grid-template-columns: 30%, 70%; */
    height: auto;
}

.profile-page-container-left{
    grid-column: 1;
}

.profile-page-container-right{
    grid-column: 2 / span 5;
}

.profile-page-instruments{
    grid-row: 1;
}
.profile-page-content{
    grid-row: 2;
}

.content{
    /* display: flex */
}

.footer{
    grid-row: 5;
    text-align: center;
}

