.songDeleteAdmin{
    width: 50%;
    margin: 30px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.selectDeleteSong {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
}

.adminDeleteSong-submit{
    background: #60b8d4;
    color: white;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    cursor: pointer;

    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin: 5px;
}

.adminDeleteSong-submit:hover{
	background: #3745b5;
    
}

