@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main-songPage-container {  
    display: grid;
    grid-template-columns: 1fr 38% 1fr 1fr 1fr;
    grid-template-rows: 350px 180px 435px 1fr 1fr 1fr 1fr;
    
    gap: 0px 0px;
    grid-auto-flow: row;
    background-color: #dee2ff;
    background-image: linear-gradient(0deg, #dee2ff 0%, #B5FFFC 50%, #ffffff 100%);
}

.other-songs-container { 
  grid-area: 1 / 1 / 7 / 2; 
}

.instruments{
  grid-area: 1 / 2 / 2 / 6;
  display: flex;
}

/* .chords-container-piano { 
  grid-area: 3 / 3 / 3 / 6;
  height: 810px;
  width: 800px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.piano_group{
  height: fit-content;
  width: fit-content;
  display: block;
} */

