.author-container {
    background-color: #dee2ff;
    background-image: linear-gradient(0deg, #dee2ff 0%, #B5FFFC 50%, #ffffff 100%);
}

.about {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "bio au-img";
  }
  
.bio { grid-area: 1 / 1 / 2 / 2; }
.au-img { grid-area: 1 / 2 / 2 / 3; }

.au-songs {
    height: 800px;
}

.card {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity 0.2s ease-out;
}
.card h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
}
.card p {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    inset: auto auto 40px 30px;
    color: black;
}

.card:hover h2 {
    inset: auto auto 70px 30px;
    transition: inset 0.3s ease-out;
}
.card:hover p {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}
.card:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}
  
.au-img img{
    display: block;
    margin-left: 400px;
    margin-top: 45px;
    border-radius: 30%;
}

.about {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: black;
    text-decoration: none;
    position: relative;
    
}

.bio {
    position: absolute;
    text-align: center;
    /* top: 50%;
    left: 50%; */
    margin-top: 120px;
    margin-left: 50px;
}
